.panel {
    background: $surface;
    border: panel $secondary;
    border-title-align: center;
}

#left {
    width: 45%;
}

#status_panel {
    height: 55%;
    margin-bottom: 1
}

#mission_select_panel {
    width: 2fr;
    padding-top: 3;
}

#mission_selector {
    width: 80%;
}

#start_mission_button {
    margin-top: 1;
    width: 50%;
}