.panel {
    background: $surface;
    border: panel $secondary;
    border-title-align: center;
}

#left {
    width: 45%;
}

#status_panel {
    height: 55%;
    margin-bottom: 1
}

#mission_select_panel {
    width: 60%;
    padding-top: 3
}